
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="https://accounts.google.com/o/oauth2/auth?client_id=876265473668-dkrg8ouj2qaginhpoamfdacf0f83002j.apps.googleusercontent.com&redirect_uri=https://localhost:7081/api/GoogleOauth/call-back&response_type=code&scope=https://www.googleapis.com/auth/webmasters%20https://www.googleapis.com/auth/analytics.readonly%20https://www.googleapis.com/auth/analytics.manage.users.readonly&access_type=offline">google link</a>