
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="https://accounts.google.com/o/oauth2/auth?client_id=876265473668-dkrg8ouj2qaginhpoamfdacf0f83002j.apps.googleusercontent.com&redirect_uri=https://localhost:7081/api/GoogleCallBack&response_type=code&scope=https://www.googleapis.com/auth/webmasters&access_type=offline">google link</a>